@{
    Layout = "_TMELayout";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">Create Task</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Project Type</label>
                    <select class="form-control">
                        <option>-- Select --</option>
                        <option>Outdoor Branding</option>
                        <option>InShop Branding</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div> 