@{
    Layout = "_Layout";
}
<style>
    .form-group{
        margin-top: 10px;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="card-title">PJP</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Employee</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Dealer Category</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Dealer Type</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Region</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Area</label>
                    <select class="form-select form-control" id="ddlUserID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                <label> &nbsp;    </label>
                <a class="btn btn-success" style="text-align: center; margin-top: 20px;">Search Dealer</a>
            </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Vendor</label>
                    <select class="form-select form-control" id="ddlVendorID">
                        <option>-- Select --</option>
                        <option>Arun</option>
                        <option>Kumar</option>
                        <option>Rana</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Visit Date</label>
                    <input type="date" class="form-control" placeholder="Enter Visit Date" id="txtDate"/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-footer">
        <button class="btn btn-success" id="btn_Submit">Submit</button>
        <a href="/Dashboard/Requisition" class="btn btn-danger">Cancel</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btn_Submit').on('click', function () { 
            ExecutePJP();
        });
    });
    function ExecutePJP() {
        let obj = {};
        obj.ID = $('#hd_PJPID').val();
        obj.UserID = $('#ddlUserID').val();
        obj.DealerID = $('#ddlDealerID').val();
        obj.Date = $('#txtDate').val();
        console.log(obj);
    }
</script>