@{
    Layout = "_TMELayout";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">Existing Vendor List</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:80px;">#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>GST No.</th>
                            <th>Owner Name</th>
                            <th>Serviceable State</th>
                            <th>Branding Type</th>
                            <th>Contact No.</th>
                            <th>City</th>
                            <th>PIN Code</th>
                            <th>MSME Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#"><i class="fa fa-edit"></i></a>&nbsp;<a href="#"><i class="fa fa-trash" style="color:red;"></i></a></td>
                            <td>Thrivera Staffing Services Private Limited</td>
                            <td>Company</td>
                            <td>06AAGCT9417R1ZJ</td>
                            <td>Thrivera</td>
                            <td>Haryana</td>
                            <td>xyz</td>
                            <td>6204010212</td>
                            <td>Gurugram</td>
                            <td>122004</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 