@{
    Layout = "_TMELayout";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">Task List</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Select</th>
                            <th>SNo</th>
                            <th>Item Name</th>
                            <th>Size</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td>3MM Sunboard</td>
                            <td>8*4</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 