@{
    Layout = "_Layout";
}
<link href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" rel="stylesheet" />
<style>

    .border-color-red {
        border-color: red;
    }

    .table td {
        text-align: start;
    }

    table th:last-child {
        text-align: start;
    }

    table td:last-child {
        text-align: start;
    }
</style>
<div class="d-flex mb-10 flex-wrap gap-3 justify-content-between align-items-center">
    <h6 class="page-title" id="headerTitle">Existing Vendor List</h6>
    <div class="d-flex flex-wrap justify-content-end gap-2 align-items-center breadcrumb-plugins">
        <a href="@Url.Action("NewVendor","Transaction",new {Area="SecureZone"})" class="btn btn-sm btn--primary">
            <i class="las la-plus"></i>Add
        </a>
        <a onclick="history.back()" class="btn btn-sm btn--primary">
            <i class="la la-undo"></i> Back
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table align-items-center mb-0 stripe" id="tbl_Vendor">
                    <thead class="thead-light">
                        <tr>
                            <th>Action</th>
                            <th>Firm Type</th>
                            <th>GST Number</th>
                            <th>GST Reg Date</th>
                            <th>Owner Name</th>
                            <th>Address</th>
                            <th>Factory Address</th>
                            <th>Serviceable State</th>
                            <th>Branding Type</th>
                            <th>Manager Details</th>
                            <th>Contact Number</th>
                            <th>City</th>
                            <th>PinCode</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Name As Per Bank</th>
                            <th>Account Number</th>
                            <th>IFSC</th>
                            <th>Bank Branch</th>
                            <th>MSME Number</th>
                            <th>Route Number</th>
                            <th>Route Type</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_Vendors">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
<script src="~/assets/js/custom/dms.js"></script>
<script src="~/assets/js/custom/vendorlist.js"></script>